<div class="footer">
  <div>
    <%= link_to image_tag("logo.png", id: "logo"), root_path %>
  </div>
  <p>Notre laboratoire vous acceuil de 8h a 18h </p>
  <p>+212 5 35 64 07 49</p>
  <div>
    <p>67 Rue Khalid Ibn Walid</p>
    <p>Bouramana - Fes</p>
  </div>
</div>
