.footer{
  display: flex;
  align-items: center;
  background-color: #FBF8F1;
  justify-content: space-between;
  padding: 0 4rem;
  border: 1px solid #d1f6fa;
  border-radius: 0.25rem;
  position: sticky;
  top: 100%;
}
